{% extends "main.html" %}
{% block navbar %} <!--dont show navbar --> {% endblock %}
{% block content %}
<div class="sticky-note" style="width: 500px;">
	In a moment, you will receive a text message.
	<br>
	This message will contain a 4 digit pin.
	<br>
	Enter the 4 digit pin below to continue.
</div>
<form method="post">
<div style="width: 500px; background: black; color: white; margin: 10 auto;">
<table>
<tr>
	<td style="color: white;">enter pin (from text message): </td>
	<td><input style="float: right;" type="text" name="pin"></td>
</tr>
<tr>
	<td style="color: white;">create password: </td>
	<td><input type="password" name="pwd"></td>
</tr>
</table>
</div>
<div style="width: 500px; margin: 10px auto; ">
<input 
	type="submit" 
	value="create account" 
	style="font-size: 120%; color: white; background: black;
	 border: 0px; width: 100%; text-align: center; 
	 padding: 10px; text-decoration: underline; ">
</div>
</form>
<div class="error">
{{ error }}
</div>
{% endblock %}	


