<html>
	<body>
		<form method="post">
			In a moment, you will receive a text message with a pin number.  Enter it below.  
			<table>
			<tr><td>
			Enter Pin #: 
			</td><td><input type="text" name="pin"></td></tr>
			<tr><td colspan=2>
			<br>
			<br>
			Also please set a password for your account
			</td></tr>
			<tr><td>
			Enter Password:</td><td>
			<input type="password" name="pwd">
			</td></tr>
			<tr><td colspan=2>
			<input type="submit" value="Create Account">
			</td></tr></table>
		</form>
	</body>
</html>

