{% extends "main.html" %}
{% block navbar %} <!--dont show navbar --> {% endblock %}
{% block content %}
		
	<form method="post">
	<div style="margin: 25px auto; background: black; width: 500px; color: white; border: 2px solid; border-color: black; ">
		mobile phone number:
	<input type="text" style="float: right;" name="phone_number" length="10">
	<div style="clear: both;"></div>
	</div> 
	<div style="width: 500px; margin: 10 auto;"><input 
		style="width: 100%; background: black; color: white; border: 0px; font-size: 130%; text-decoration: underline; padding: 5px;" 
		type="submit" 
		value="sign up">
	</div>
	</form>

<div class="error">
	{{error}}
</div>

{% endblock %}
