{% extends "main.html" %}
{% block content %}

<style type="text/css">
	.header-row {
		text-decoration: none;
		font-weight: bold;
	}
</style>
<div style="max-width: 2000px; auto; margin: 0 auto;">
<table valign="center">
<tr>
	<td class="header-row">full name--------------</td>
	<td class="header-row">date connected---------</td>	
	<td class="header-row">mobile phone-----------</td>
	<td class="header-row">email------------------</td>
	<td class="header-row">linkedin profile-------</td>
	<td class="header-row">connection status------</td>
	<td class="header-row">change status----------</td>
</tr>
{% for entry in contact_list %}
<tr>
	<td>{{ entry["name"] }}</td>
	<td>{{ entry["date_connected"] }}</td>
	<td>{{ entry["phone"] }}</td>
	<td>{{ entry["email"] }}</td>
	<td><a href="{{ entry["linkedin_url"] }}">linkedin</a></td>
	<td>{{ entry["status"] }}</td>
	{% autoescape false %}
		<td>{{ entry["status_action"] }}</td>
	{% endautoescape %}	
</tr>
{% endfor %}
</table>
</div>
	

{% endblock %}

